.Toastify__toast-container {
  font-size: 0.7rem !important;
}

.Toastify__toast {
  min-height: 40px !important;
  padding: 8px !important;
}

.Toastify__toast-body {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0.7rem !important;
}

.Toastify__close-button {
  padding: 0 !important;
  width: 12px !important;
  height: 12px !important;
} 