@import "tailwindcss";

/* index.css */

/* 폰트 설정 */
@font-face {
  font-family: "TJJoyofsinging";
  src: url("@/assets/font/TJJoyofsinging_WOFF2/TJJoyofsingingL_WOFF2.woff2")
      format("woff2"),
    url("@/assets/font/TJJoyofsinging_TTF/TJJoyofsingingL_TTF.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TJJoyofsinging";
  src: url("@/assets/font/TJJoyofsinging_WOFF2/TJJoyofsingingM_WOFF2.woff2")
      format("woff2"),
    url("@/assets/font/TJJoyofsinging_TTF/TJJoyofsingingM_TTF.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TJJoyofsinging";
  src: url("@/assets/font/TJJoyofsinging_WOFF2/TJJoyofsingingB_WOFF2.woff2")
      format("woff2"),
    url("@/assets/font/TJJoyofsinging_TTF/TJJoyofsingingB_TTF.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TJJoyofsinging";
  src: url("@/assets/font/TJJoyofsinging_WOFF2/TJJoyofsingingEB_WOFF2.woff2")
      format("woff2"),
    url("@/assets/font/TJJoyofsinging_TTF/TJJoyofsingingEB_TTF.ttf")
      format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-TJ: "TJJoyofsinging", sans-serif;
  --breakpoint-sm: 430px;
  --breakpoint-md: 615px;
  --breakpoint-xl: 1180px;

  /* 기본 커스텀텀 컬러 */
  /* 검정 계열  */
  --color-main-black-500: #4b1f00;
  /* 오렌지계열 */
  --color-main-orange-400: #ffac2a;
  --color-main-orange-500: #e45628;
  /* 노랑계열 */
  --color-main-yellow-150: #fefef1;
  --color-main-yellow-200: #fff9d0;
  --color-main-yellow-300: #ffe6b7;
  --color-main-yellow-350: #f9d24c;
  --color-main-yellow-400: #c47d00;
  --color-main-yellow-450: #ffcb00;
  --color-main-yellow-500: #fed855;
  --color-main-yellow-700: #ffd640;
  --color-main-yellow-800: #fcc53b;
  /* 갈색계열 */
  --color-main-brown-300: #dfd3b6;
  --color-main-brown-350: #cfab60;
  --color-main-brown-400: #d3910f;
  --color-main-brown-450: #ba9462;
  --color-main-brown-500: #a86332;
  --color-main-brown-550: #7a5c34;
  --color-main-brown-575: #7b5025;
  --color-main-brown-600: #895835;
  --color-main-brown-700: #6a3909;
  --color-main-brown-800: #6e3500;
  --color-main-brown-850: #472a0c;
  --color-main-brown-900: #351b00;
  /* 파랑계열 */
  --color-main-blue-600: #5188d9;
  --color-main-blue-700: #8fd5fa;
  --color-main-blue-800: #2f3f53;
  /* 빨강계열 */
  --color-main-red-400: #fe6e38;
  --color-main-red-500: #e45628;
  --color-main-red-600: #dd4b4b;
  /* 핑크색 계열 */
  --color-main-pink-400: #ffbcba;
  --color-main-pink-500: #ff9d9d;
  --color-main-pink-600: #c55e5e;

  /* 모의투자 페이지 */
  --color-investing-purple-100: #9757a1;
  --color-investing-yellow-100: #fcbc00;
  --color-investing-orange-100: #f07f0a;
  --color-investing-blue-100: #156b59;
}

@utility text-stroke-width-* {
  -webkit-text-stroke-width: --value([length]);
}

@utility text-stroke-color-* {
  -webkit-text-stroke-color: --value([color]);
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

@media (max-width: 430px) {
  html {
    font-size: 60%;
  }
}

@media (min-width: 431px) and (max-width: 615px) {
  html {
    font-size: 70%;
  }
}

@media (min-width: 616px) and (max-width: 1179px) {
  html {
    font-size: 100%;
  }
}

@media screen and (min-width: 1180px) {
  html {
    font-size: 190%;
  }
}
